body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Footer {
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}
.Footer p {
  font-size: 14px;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
}

.Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 50px;
  background:#2c343f linear-gradient(135deg, #2c343f 27%,#37414f 28%,#37414f 50%,#2c343f 51%,#2c343f 77%,#37414f 78%,#37414f) right bottom/5px 5px;
}
.logo-header {
  height: 30px;
  width: 260px;
  margin: 10px;
}
.list-header, .list-header li, .list-header a {
  text-decoration: none;
}

.list-header {
  width: 60%;
  display: flex;
  margin: 0;
}
.list-header li{
  display: block;
}
.list-header li a {
  color: yellow;
  font-weight: 700;
  width: 192px;
  float: left;
  text-align: center;
  font-size: 26px;
  height: 16px;
  padding-top: 10px;
  padding-bottom: 18px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.list-header li a:hover {
  border-bottom: yellow 5px solid;
}
.btn-header {
  width: 150px;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-header button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  margin-right: 10px;
}
.btn-header button:hover {
  opacity: 0.5;
}
.btn-header button:nth-child(1) {
  background-color: orange;
}
.btn-header button:nth-child(2) {
  background-color: lightgreen;
}
.btn-header button:nth-child(3) {
  background-color: red;
}
.list-circle {
  padding: 0;
  margin: 0 auto;
}
.list-circle li{
  display: block;
  margin: 10px;
  font-weight: 700;
  float: left;
  text-align: center;
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 18px;
}
.circle {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.count-btn, .home-btn, .about-btn {
  width: 100px;
  margin: 5px;
  padding: 5px;
}
.list-item {
  display: flex;
  text-decoration: none;
}
.bg-item {
  display: block;
  width: 100px;
  height: 100px;
}
.info-item {
  width: 300px;
  padding-left: 15px;
}
.info-item h2, p{
  margin: 0;
}
.del-btn {
  text-decoration: none;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.style-list{
  background: rgba(255,255,255, .3);
  padding: 1em;
  margin: 0;
}